ihcclient/wsdl/fixed/authentication.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="utcs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="utcs" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<wsdl:types>
<xsd:schema targetNamespace="utcs" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
<xsd:element name="disconnect1" nillable="true" type="xsd:boolean">
</xsd:element>

<xsd:complexType name="WSAuthenticationData">
<xsd:sequence>
<xsd:element name="password" type="xsd:string">
</xsd:element>

<xsd:element name="username" type="xsd:string">
</xsd:element>

<xsd:element name="application" type="xsd:string">
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:element name="authenticate1" nillable="true" type="tns:WSAuthenticationData">
</xsd:element>

<xsd:complexType name="WSDate">
<xsd:all>
<xsd:element name="monthWithJanuaryAsOne" type="xsd:int">
</xsd:element>

<xsd:element name="day" type="xsd:int">
</xsd:element>

<xsd:element name="hours" type="xsd:int">
</xsd:element>

<xsd:element name="minutes" type="xsd:int">
</xsd:element>

<xsd:element name="seconds" type="xsd:int">
</xsd:element>

<xsd:element name="year" type="xsd:int">
</xsd:element>
</xsd:all>
</xsd:complexType>

<xsd:complexType name="WSUserGroup">
<xsd:sequence>
<xsd:element name="type" type="xsd:string">
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WSUser">
<xsd:sequence>
<xsd:element name="createdDate" nillable="true" type="tns:WSDate">
</xsd:element>

<xsd:element name="loginDate" nillable="true" type="tns:WSDate">
</xsd:element>

<xsd:element name="username" type="xsd:string">
</xsd:element>

<xsd:element name="password" type="xsd:string">
</xsd:element>

<xsd:element name="email" type="xsd:string">
</xsd:element>

<xsd:element name="firstname" type="xsd:string">
</xsd:element>

<xsd:element name="lastname" type="xsd:string">
</xsd:element>

<xsd:element name="phone" type="xsd:string">
</xsd:element>

<xsd:element name="group" nillable="true" type="tns:WSUserGroup">
</xsd:element>

<xsd:element name="project" type="xsd:string">
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WSLoginResult">
<xsd:sequence>
<xsd:element name="loggedInUser" nillable="true" type="tns:WSUser">
</xsd:element>

<xsd:element name="loginWasSuccessful" type="xsd:boolean">
</xsd:element>

<xsd:element name="loginFailedDueToConnectionRestrictions" type="xsd:boolean">
</xsd:element>

<xsd:element name="loginFailedDueToInsufficientUserRights" type="xsd:boolean">
</xsd:element>

<xsd:element name="loginFailedDueToAccountInvalid" type="xsd:boolean">
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:element name="authenticate2" nillable="true" type="tns:WSLoginResult">
</xsd:element>

<xsd:element name="ping1" nillable="true" type="xsd:boolean">
</xsd:element>
</xsd:schema>
</wsdl:types>

<wsdl:message name="disconnectRequest">
</wsdl:message>

<wsdl:message name="disconnectResponse">
<wsdl:part name="return" element="tns:disconnect1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="authenticateRequest">
<wsdl:part name="parameter1" element="tns:authenticate1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="authenticateResponse">
<wsdl:part name="return" element="tns:authenticate2">
</wsdl:part>
</wsdl:message>

<wsdl:message name="pingRequest">
</wsdl:message>

<wsdl:message name="pingResponse">
<wsdl:part name="return" element="tns:ping1">
</wsdl:part>
</wsdl:message>

<wsdl:portType name="AuthenticationService">
<wsdl:operation name="disconnect">
<wsdl:input name="inputMessageName1" message="tns:disconnectRequest">
</wsdl:input>

<wsdl:output name="outputMessageName1" message="tns:disconnectResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="authenticate">
<wsdl:input name="inputMessageName2" message="tns:authenticateRequest">
</wsdl:input>

<wsdl:output name="outputMessageName2" message="tns:authenticateResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="ping">
<wsdl:input name="inputMessageName3" message="tns:pingRequest">
</wsdl:input>

<wsdl:output name="outputMessageName3" message="tns:pingResponse">
</wsdl:output>
</wsdl:operation>
</wsdl:portType>

<wsdl:binding name="AuthenticationServiceBinding" type="tns:AuthenticationService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http">
</soap:binding>

<wsdl:operation name="disconnect">
<soap:operation soapAction="disconnect" style="document">
</soap:operation>

<wsdl:input name="inputMessageName1">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName1">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="authenticate">
<soap:operation soapAction="authenticate" style="document">
</soap:operation>

<wsdl:input name="inputMessageName2">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName2">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="ping">
<soap:operation soapAction="ping" style="document">
</soap:operation>

<wsdl:input name="inputMessageName3">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName3">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>

<wsdl:service name="AuthenticationServiceService">
<wsdl:port name="AuthenticationServiceBindingPort" binding="tns:AuthenticationServiceBinding">
<soap:address location="http://localhost/AuthenticationService">
</soap:address>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
